
body {
    width: 100%;
    height: 100%;
    background: url(../img/texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.page-title {
    border-bottom: 2px solid #dc3545;
    margin: 0 0 30px;
    padding-bottom: 20px;
}

.card-img-top-container {
    width: 100%;
    overflow: hidden;
    background-color: rgba(20, 20, 20,1);
}

.card-img-top-zoom-effect{
    transition: 0.5s;
    filter:brightness(50%);
}

.card-img-top-zoom-effect:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter:brightness(100%);
}

.pastille {
    position: absolute;
    bottom: 5%;
    background-color: #dc3545;
    border-radius: 10% 50%;
    padding: 10px;
    color: #fff;
    right: 5%;
    transition: 0.5s;
    /* transform: translate(-50%,-50%); */
}

.card-img-top-container:hover .pastille {
    color: #e91e1e;
    background-color: #fff;
    /* right: -5%; */
    /* bottom: -5%; */
}

.slide {
    overflow: hidden;
    margin-bottom: 30px;
    height: 200px;
}

.slide img {
    width: 100%;
    border-radius: 30%;
    filter:brightness(50%);
}

.slide h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 100;
}

.card_02 {
    border-bottom-right-radius: 20%;
}

.card-list {
    border-bottom-right-radius: 50px;
}

.card-price-cents {
    vertical-align:super;
    font-size:0.6rem;
}

.description-container {
    border-bottom-left-radius: 50px;
    overflow: hidden;
}

.img-description {
    border-bottom-left-radius: 70px;
}
